body{
    background-color: #e4fce4;
    max-width: 1519px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    padding: 0px;
}
#fixnav{
    background-color: #015501;
    position:sticky;
    top: 0;
    z-index: 2;
}
.banner{
    height: 100px;
}
.header{
    display: flex;
    background: #ffffff;
    clear: both;
    overflow: hidden;
}
.logo {
    width: 20%;
    margin-left: 15px;
}   
.search{
    width: 35%;
    height: 40px;
    background-color: none;
    border: 1px solid green;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
}
.search input{
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    background-color: none;
    text-indent: 20px;
}
.search button{
    height: 25px;
    background: none;
    position: absolute;
    outline: none;
    border: none;
}
.info{
    width: 45%;
}
.info button{
    width: 30%;
    height: 60px;
    background: none;
    border: none;
    margin-top: 15px;
    outline: none;
}
.info button:hover{
    text-decoration:underline green;
    cursor: pointer;
}
.info i{
    font-size: 30px;
    color: green;
}
.info p{
    font-size: 15px;
    font-weight: bold;
    color: green;
}
.menu{
    justify-content: center;
    display: flex;
}
.menu ul{
    background-color: #015501;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-right: 50px;
    display: inline-block;
}
.menu ul li{
    list-style: none;
    float: left;
    border-left: 1px dotted #ffffff;
    padding-top: 8px;
}
.menu ul li:first-child{
    border: none;
}
.menu ul li a{
    padding: 0px 20px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.menu ul li a:hover{
    color: #48ff00;
}
.Container{
    width: 650px;
    min-height: 650px;
    margin: 0 auto;
    padding-top: 25px;
}
.User{
    background-color: #f4f7f3;
    width: 600px;
    height: 650px;
    border: 3px solid #363636;
    border-radius: 10px;
    position: absolute;
    display: block;
    margin: 0 auto;
    border-color: darkcyan;
}
.Userstyle {
    width: 583px;
    border-bottom: 1px solid burlywood;
    overflow: hidden;
    font-size: 20px;
    font-style: italic;
    padding-left: 15px;
}
.dangnhap {
    float: left;
    width: 150px;
    text-align: center;
    padding: 15px 5px 7px;
    margin-left: 55px;
    font-weight: 400;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 3px solid rgb(27, 168, 255);
    color: rgb(27, 168, 255);
    font-family: "Times New Roman", Times, serif;
    font-size:23px;
}
.taotaikhoan {
    float: left;
    width: 150px;
    text-align: center;
    padding: 15px 5px 7px;
    margin-left: 130px;
    font-weight: 400;
    display: block;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    font-size:23px;
}
.taotaikhoan a{
    color: #0404B4;
}
.taotaikhoan a:hover{
    color:#1ba8ff;
}
h1 {
    color:#B43104 ;
    padding-left: 150px;
    padding-top:5px;
    padding-bottom:10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.user_1 {
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
#email {
    width: 300px;
    border-radius: 7px;
    height: 35px;
}
#password {
    width: 300px;
    border-radius: 7px;
    height: 35px;
}
.user_2 {
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.forgot-password {
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.forgot-password a{
    color:#FFA200;
}
.forgot-password a:hover{
    color:#FFCF7A;
}
.user_3 {
    width: 300px;
    height:49px;
    line-height:15px;
    background-color: #b7e043;
    border: none;
    color: #0A2A0A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight:bold;
    border:1px solid #21610B;
    border-radius: 10px;
    margin-bottom: 10px;
}
.user_3:hover{
    background-color: #D8FF6C;
    cursor:pointer;
}
.user_4 {
    width: 300px;
    height: 49px;
    background-color: #1235a7;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border:1px solid #001F86;
    border-radius: 10px;
    margin-bottom: 10px;
}
.user_4:hover{
    background-color:#0174DF;
    cursor:pointer;
}
.user_4 img {
    width: 30p;
    height: 30px;
    margin-top:9px;
    padding-left:20px;
    float:left;
}
.user_4 p{
    padding-right:10px
}
.user_5 {
    width: 300px;
    height: 49px;
    background-color: #D63520;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border:1px solid #A61300;
    border-radius: 10px;
    margin-bottom: 10px;
}
.user_5:hover{
    background-color:#F45742;
    cursor:pointer;
}
.user_5 img {
    width: 40p;
    height: 40px;
    margin-top:4px;
    padding-left:25px;
    float:left
}
.user_5 p{
    padding-right:15px
}
.user_6 {
    width: 300px;
    height: 49px;
    background-color: #339adf;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border:1px solid #0080D5;
    border-radius: 10px;
    margin-bottom: 10px;
}
.user_6:hover{
    background-color:#84CEFF;
    cursor:pointer;
}
.user_6 img {
    width: 40px;
    height: 40px;
    margin-top:4px;
    padding-left:25px;
    float:left;
}
.user_6 p{
    padding-right:15px
}
#mk {
    padding-right: 20px;
}
.footer{
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    color : #086308;
    margin-top: 50px;
    border-top: 1px solid rgb(212, 224, 215);
    clear: both;
}
.footer div{
    width: 25%;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
}
.footer div ul{
    width: 100%;
    text-align: left;
    margin-left: -19%;
    margin-top: 12px;
}
.footer div ul li{
    list-style: none;
    margin: 10px ;
    float: left;
    clear: both;
}
.care ul li{
    display: flex;
}
.care ul li img{
    height: 22px;
}
.care p{
    margin-top: 0px;
    margin-bottom:  0px;
    padding-left: 5px;
}
.social ul li {
    display: flex;
    justify-content: right;
}
.social img{
    width: 30%;
}
.social ul li strong{
    padding-left: 8px;
    padding-top: 8px;
}